/* CSS RESET */
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1{font-size: 4em;}
h2{font-size: 3em;}
h3{font-size: 2em;}
p{margin-bottom: 1em}
html{background: #6393c1;font-family: Arial;height:100%;}
body{height: 100%}
ul{margin:1em;list-style: none}

.container{width:100%;height:100%;}

.menu-1{width:100%;padding: 5em 0 2em;
background: #f2342e; /* Old browsers */
background: -moz-linear-gradient(top,  #f2342e 1%, #ef8381 25%, #f2342e 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f2342e), color-stop(25%,#ef8381), color-stop(50%,#f2342e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2342e 1%,#ef8381 25%,#f2342e 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2342e 1%,#ef8381 25%,#f2342e 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2342e 1%,#ef8381 25%,#f2342e 50%); /* IE10+ */
background: linear-gradient(to bottom,  #f2342e 1%,#ef8381 25%,#f2342e 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2342e', endColorstr='#f2342e',GradientType=0 ); /* IE6-9 */
}
.menu-1 header{text-align: center;font-size: 0.5em;background: #000;color:#ddd;padding:0.5em 0;}
.menu-1-options li{padding: 1em;cursor: pointer;}
.menu-1-options li:hover{background: rgba(0,0,0,.2)}
.menu-1-options li .sources li{padding: 0;}


.menu-1,
.menu-2{float:left;min-height: 100%;}

.menu-2{display:none;width:45%;}
.menu-3{float:left;margin-left: 5%;padding:1em;border:1px solid #000;border-radius:1em;min-height: 20em;min-width: 15em;background: rgba(255,255,255,.1);display: none;max-width:50%;}
.menu-3 .pokemon-name{float:left;}
.menu-3 .pokemon-image{margin-top:-2em;}

.pokemon-list{margin-top:5em;}
.pokemon{cursor: pointer;padding:0 1em;overflow: hidden;}
.pokemon:nth-child(even){background: rgba(0,0,0,.1)}
.pokemon:hover{background-color: rgba(250,250,0,.2);}
.pokemon-inner{background: url(/images/thumbnails.png) no-repeat right top;height:32px;line-height: 2.5em;}

.filters{overflow: hidden;padding:1em;background: #5984AE;position:fixed;width: 45%}
.filters .pokemon-sort{overflow: hidden;float: left;}
.filters .pokemon-sort ul{list-style: none}
.filters .pokemon-sort ul li{margin-right: 0.5em;cursor: pointer;float:left;}
.filters .pokemon-sort ul li:hover{background: rgba(0,0,0,.1)}
.filters .pokemon-sort ul li.on{color:yellow;}


.location-game-sets {margin: 0;}
.location-game-sets .location-game-set{font-weight: bold;border:1px solid rgba(0,0,0,.2);list-style: none;margin:0.5em 0;border-radius:1em;padding: 0.5em}
.location-game-sets .location-game-set .location-game-set-games{margin: 0;}
.location-game-sets .location-game-set .location-game-set-games .game{background:rgba(0,0,0,.1);padding: 0.2em;list-style:none;}
.location-game-sets .location-game-set .location-game-set-games .game:nth-child(even){background:none;}
.location-game-sets .location-game-set .location-game-set-games .game-title{;min-width:100px;display: inline-block;}
.location-game-sets .location-game-set .location-game-set-games .game-locations{font-weight:normal;}

.why{margin-top:5em;font-size: 0.8em;color:#222;border: 1px solid #000;border-radius: 1em;background: rgba(255,255,255, .1)}

.back{cursor: pointer;float:right;}
.back:hover{color:yellow;}